body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color:  #CD5C5C;
    margin: 0;
}

h1, h2 {
    color: #FFF0F5;
}

td {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #CD5C5C;
}

tr {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    color: #CD5C5C;
}